<?xml version="1.0" encoding="UTF-8"?>
<servers>
  <server url="tribalwars.net">
    <world url="en74">World 74</world>
    <world url="en78">World 78</world>
    <world url="en80">World 80</world>
    <world url="en82">World 82</world>
    <world url="en83">World 83</world>
    <world url="en84">World 84</world>
    <world url="en85">World 85</world>
    <world url="en86">World 86</world>
    <world url="en87">World 87</world>
    <world url="en88">World 88</world>
    <world url="en89">World 89</world>
    <world url="enp1">Casual</world>
    <world url="enp2">Casual 2</world>
  </server>
  <server url="tribalwars.us">
  	<world url="us21">World 21</world>
  	<world url="us22">World 22</world>
  	<world url="us23">World 23</world>
  	<world url="us24">World 24</world>
  	<world url="us25">World 25</world>
  	<world url="usp1">Casual</world>
  </server>
  <server url="tribalwars.co.uk">
    <world url="uk21">World 21</world>
    <world url="uk22">World 22</world>
    <world url="uk25">World 25</world>
    <world url="uk26">World 26</world>
    <world url="uk27">World 27</world>
    <world url="uk28">World 28</world>
    <world url="ukc1">Classic</world>
    <world url="ukp1">Casual</world>
  </server>
</servers>